{{!-- src/views/layouts/default.hbs --}}
{{! Base layout with header/footer }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <style>
      
    </style>
    <link rel="stylesheet" href="/public/global/css/reset.css" />
    <link rel="stylesheet" href="/public/global/css/kloi_global.css" />
    {{#if theme}}
      <link rel="stylesheet" href="/public/themes/{{theme}}/css/{{theme}}_styles.css" />
    {{/if}}
  </head>
  <body>
    <header class="kloi_header">
        <img class="kloi_header_logo" src="/public/themes/{{theme}}/images/{{theme}}_logo.svg" alt="{{theme}} Logo" width="150" height="150">
    </header>
    <main>
      {{{body}}}
    </main>
    <footer><p>&copy; {{year}} KLOI. All rights reserved.</p></footer>
  </body>
</html>
